body{
    background-image: url(https://images.pexels.com/photos/247431/pexels-photo-247431.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
   background-size: cover;
}
.small{
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}
.LOG{
    position: absolute;
    margin-top: 130px ;
    margin-left: -100px;
}
.submitbutton{
    position: absolute;
    margin-top: 130px ;
    margin-left: -100px;
}
.form{
    background-color: rgb(89, 120, 120);
    width: 600px;
    height: 400px;
    border-radius: 30px ;
    margin-top: 190px;
    margin-left: 400px ;
}
label{
    font-size: 25px ;
    
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}
input{
    width: 330px;
    height: 35px ;
    border-radius: 10px ;

}
h1{
    color: aliceblue;
}
.welcome
{
    font-size:50px ;
    color: aliceblue;
}
.ad{
    font-size: 40px  ;
    color: aliceblue;
}
.wild
{
  font-size: 40px;
    color: aliceblue;
}
button{
    width: 128px;
    height: 35px;
    background-color: blueviolet;
    border-radius: 27px ;

}
button:hover{
    background-color: white;
    color: blueviolet;
}